<form class="grid-container fluid cell auto" method="post" action="/user/settings">
    <div class="cell auto">
        <label>
            <h3>
                First Name
            </h3>
        </label>
        <input type="text" {{#if profile.fname}} value="{{profile.fname}}" {{else}} placeholder=" First name" {{/if}}
            name="fname">
    </div>

    <div class="cell auto">
        <label>
            <h3>
                Last Name
            </h3>
        </label><input type="text" {{#if profile.lname}} value="{{profile.lname}}" {{else}} placeholder=" Last name"
            {{/if}} name="lname">
    </div>

    <div class="cell auto">
        <label>
            <h3>Email</h3>
        </label>
        <input type="email" placeholder="Email" name="email" value={{#if credentials}}"{{credentials.email}}"{{/if}}
            required>
    </div>

    <input type="submit" class="hollow button primary" value="Submit">
</form>